<div class="row pageCenter">

  <div class="col-12 col-md-9">
    <div class="card mb-4">
      <h3 class="card-header">
        Orders
      </h3>

      <table>
        <tr>
          <th>Product</th>
          <th>Customer</th>
          <th>Quantity</th>
          <th>Total Amount</th>
          <th></th>
        </tr>

        {{#each order}}

        <tr>
          <td>{{this.dataValues.Product.dataValues.name}}</td>
          <td>{{this.dataValues.User.dataValues.name}}</td>
          <td>{{this.dataValues.quantity}}</td>
          <td>${{this.dataValues.totalAmount}}</td>
          <td> <button onclick="location.href='/checkout.html';" class="btn btn-info purchaseProduct"
              data-productid="3">
              Purchase
            </button></td>
        </tr>

        {{/each}}
      </table>
    </div>
  </div>

</div>